<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>controller.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>controller.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TakeQuiz</servlet-name>
        <servlet-class>controller.TakeQuiz</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuizInitializer</servlet-name>
        <servlet-class>controller.QuizInitializer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuizResult</servlet-name>
        <servlet-class>controller.QuizResult</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MakeQuiz</servlet-name>
        <servlet-class>controller.MakeQuiz</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Retake</servlet-name>
        <servlet-class>controller.Retake</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Retake</servlet-name>
        <url-pattern>/Retake</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MakeQuiz</servlet-name>
        <url-pattern>/MakeQuiz</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuizResult</servlet-name>
        <url-pattern>/QuizResult</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuizInitializer</servlet-name>
        <url-pattern>/QuizInitializer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TakeQuiz</servlet-name>
        <url-pattern>/TakeQuiz</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>controller.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageQuiz</servlet-name>
        <servlet-class>controller.ManageQuiz</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuizHistory</servlet-name>
        <servlet-class>controller.QuizHistory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClusterDetail</servlet-name>
        <servlet-class>controller.ClusterDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ErrorHandler</servlet-name>
        <servlet-class>controller.ErrorHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>controller.HomeController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/HomeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ErrorHandler</servlet-name>
        <url-pattern>/ErrorHandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClusterDetail</servlet-name>
        <url-pattern>/ClusterDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuizHistory</servlet-name>
        <url-pattern>/QuizHistory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageQuiz</servlet-name>
        <url-pattern>/ManageQuiz</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>

</web-app>